@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-size: 16pt;
    font-family: "Noto Sans", serif;
    line-height: 1.4;
    color:#444;
    background-color:#eee ;
    
}
hr{
    color:#444;
}
h1{
    font-size: 36pt;
    font-weight: bold;
}
h2{
    font-size: 24pt;
    font-weight: bold;

}
h3{
    font-style: italic;
    font-size: 18pt;
    font-weight: 300;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.minimalLink{
    color:#444;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.minimalLink:hover,
.minimalLink:focus{
    transform: scale(1.5);
}
.block{
    padding:5%;
}

.flexContainer {
    display: flex;
    flex-direction: wrap;
  }
.flexLeft{
    flex:50%;
}
.flexRight{
    flex:50%;
}
@media (max-width:800px){
    .flexLeft, .flexLeft{
        flex:100%;
    }
}
#headerSect{
    padding-left: 5%;
}
.emailCont{
    display: flex;
    flex-direction: wrap;
}
#workMail{
    flex: 50%;
}
#persMail{
    flex: 50%;
}

